.form{
  margin-left: 35%;
  margin-top: 5%;
  padding: 50px;
  border: 1px solid black;
  width: fit-content;
  text-align: center;
  background-color: grey;
}

.button{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}